TigerShell/src/shellex
**/.DS_Store
TigerShell/src/giveme
TigerShell/src/apples
TigerShell/src/candy
TigerShell/src/cookies
TigerShell/src/pizza
TigerShell/src/signalH
TigerShell/src/signalH2
TigerShell/src/signalH2.c
TigerShell/src/spinach
TigerShell/src/bread
TigerShell/src/chocolate
TigerShell/src/wine
TigerShell/src/cake
TigerShell/src/coffee
